<!DOCTYPE html>
<html class="no-js">
  <head>
    {% include head.html %}
    <link rel="canonical" href="madmous.com/portfolio/2fa" />
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <main>
      <article>
        <section class="intro text-center">
          <img src="/images/java.png" alt="">
          <h3>Two Factor Authentication</h3>
        </section>
        <section class="bot">
          <a href="" target=rl>Take a look at the application and try it</a>
        </section>
      </article>
    </main>
    {% include scripts.html %}
  </body>
</html>
